<div class="table-container mb-4">
    <table class="table is-fullwidth is-bordered is-hoverable is-striped is-narrow ">
        <thead>
        <tr class="is-selected has-background-dark is-uppercase is-size-6">
            <th class="has-text-centered">Date</th>
            <th class="has-text-centered">Code</th>
            <th class="has-text-centered">Temp</th>
            <th class="has-text-centered">Wind Speed</th>
            <th class="has-text-centered">Wind Direction</th>
            <th class="has-text-centered">Pressure</th>
            <th class="has-text-centered">Delete/Edit Reading</th>
        </tr>
        </thead>
        <tbody>        
		{{#each station.readings}}
        <tr>
            <td class="has-text-centered">{{timeStamp}}</td>
            <td class="has-text-centered">{{code}}</td>
            <td class="has-text-centered">{{temperature}}&#176C</td>
            <td class="has-text-centered">{{windSpeed}}km/hr</td>
            <td class="has-text-centered">{{windDirection}}&#176</td>
            <td class="has-text-centered">{{pressure}}hPa</td>
            <td class="has-text-centered">

                    <div class="buttons has-addons is-centered">
                        <p class="control is-flex is-centered">
                        <a data-open-modal="" class="card-footer-item js-modal-trigger-delete has-text-white is-size-6 p-0"
                           data-target="modal-delete-reading"
                           data-todelete="Reading"
                           data-link="/station/{{stationid}}/deletereading/{{_id}}"  aria-label="more options">
                            <button class="button is-danger is-small mx-1">
                              <span class="icon is-small">
                                <i class="fas fa-trash"></i>
                              </span>
                               <span>Delete</span>
                            </button>
                            </a>
                            <a data-open-modal="" class="card-footer-item js-modal-trigger-edit has-text-white is-size-6 p-0"
                               data-target="modal-edit-reading"
                               data-code="{{code}}"
                               data-temperature="{{temperature}}"
                               data-windspeed="{{windSpeed}}"
                               data-winddirection="{{windDirection}}"
                               data-pressure="{{pressure}}"
                               data-link="/station/{{stationid}}/editreading/{{_id}}"
                               aria-label="more options">
                                <button class="button is-warning is-small mx-1">
                              <span class="icon is-small">
                                <i class="fas fa-pen-to-square"></i>
                              </span>
                                    <span>Edit</span>
                                </button>
                            </a>
                        </p>
                    </div>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>   
</div>
{{> reading-modals}}
<!-- Content End -->
