<!--<div class="column is-12 mt-3 mb-0 p-0">
  <div class="card events-card mb-0">
    <header class="card-header has-background-info mb-0">
      <p class="card-header-title is-uppercase has-text-white is-size-5 py-1">
        STATIONS MAP 
      </p>
    </header>
    <section class="columns is-centered mb-0">
      <div class="column is-12 m-0">
        -->
        <div id="map" class="mapBorderColor" style="height: 450px;">
           <!-- ADD Station -->
         {{> addstation}}  
        </div>
 <!--     </div>
    </section>
  </div>
</div>
-->
<script>
  let map = L.map('map')
  let openStreetMapLayer = L.tileLayer(
    'https://tile.openstreetmap.org/{z}/{x}/{y}.png', 
    { maxZoom:19, attribution: '© OpenStreetMap' }
  );
  openStreetMapLayer.addTo(map);

  let marker;
  let avgLat = avgLng = 0;
  {{#each stations}}
    marker = L.marker([{{latitude}}, {{longitude}}], {title: "{{name}}"});
    marker.bindPopup("<h1><strong>{{name}}</strong></h1>" 
             + "LatLng(" + {{latitude}} + "," 
             + {{longitude}} + ")"
             + "<br>"
             + "<a href='/station/{{_id}}'>View Station Readings</a>"
             );
    marker.addTo(map);

    avgLat += {{latitude}};
    avgLng += {{longitude}};
  {{/each}}
  avgLat /= {{stations.length}};
  avgLng /= {{stations.length}};

  map.setView([avgLat, avgLng], 7);
</script>
