<!-- Weather Widget Start -->

<div class="box has-background-dark weather-box pb-3">
  <div class="columns is-gapless is-multiline is-mobile has-text-white">
    <div class="column is-full mb-0">
      
       <!-- Top Row -->
    <div class="columns mb-0">
      <div class="column is-12 pb-0">
        <!-- Content for the top row -->
        <h4 class="title is-size-4-desktop is-size-5-mobile is-size-5-tablet is-uppercase has-text-weight-bold has-text-white">
          {{name}}{{station.name}}
        </h4>
      </div>
    </div>

    <!-- Second Row -->
    <div class="columns has-text-centered">
      <div class="column is-6">
        <!-- Content for the first column in the second row -->
        <b>Lat:</b> {{latitude}}{{station.latitude}}
      </div>
      <div class="column is-6">
        <!-- Content for the second column in the second row -->
        <b>Long:</b> {{longitude}}{{station.longitude}} 
      </div>
    </div>

    </div>
    
    <div class="column is-one-third has-text-centered">
      <hr class="mt-1 mb-0" />
   <!--   
    <img src="https://cdn.glitch.global/0fa94a6d-c73c-4106-b4c8-60a78df7dea0/weather-{{latestCode}}.svg" alt="weather" style="max-height: 180px;" class="" />
      <img src="https://cdn.glitch.global/0fa94a6d-c73c-4106-b4c8-60a78df7dea0/weather-{{latestCode}}.svg" alt="weather" style="max-height: 180px;" class="" />
      -->
      <img src="{{latestCodeIcon}}" alt="weather" style="max-height: 180px;" class="" />      
    </div>
    <div class="column is-one-third has-text-centered">
      <hr class="mt-1 mb-0" />
      <img
        src="https://cdn.glitch.global/0fa94a6d-c73c-4106-b4c8-60a78df7dea0/compass-{{windDirectionIcon}}.svg"
        alt="wind direction"
        style="max-height: 180px;"
        class=""
      />
    </div>
    <div class="column is-one-third has-text-centered">
      <hr class="mt-1 mb-0" />
      <img
        src="https://cdn.glitch.global/0fa94a6d-c73c-4106-b4c8-60a78df7dea0/wind-beaufort-{{latestWindSpeedBFT}}.svg"
        alt="wind speed"
        style="max-height: 180px;"
        class=""
      />
    </div>
    <div class="column is-one-third is-size-6-mobile is-size-6 has-text-weight-bold has-text-centered">
      <p>{{latestCodeLabel}}</p>

    </div>
    <div class="column is-one-third is-size-6-mobile is-size-6 has-text-weight-bold has-text-centered">
      <p> {{windDirectionLabel}}</p>

    </div>
    <div class="column is-one-third is-size-6-mobile is-size-6 has-text-weight-bold has-text-centered">
      <p>{{windSpeedLabel}}</p>

    </div>
    <div class="column is-12 has-text-centered">
      <hr class="mt-1 mb-0" />
    </div>
    <div class="column is-half has-text-centered has-text-weight-bold">
      <div class="is-size-2 is-flex is-vcentered is-justify-content-center">
        {{latestTemp}}<!--&#176C-->
        <img class="celsius" src="https://cdn.glitch.global/0fa94a6d-c73c-4106-b4c8-60a78df7dea0/thermometer-celsius.svg" style="max-height: 60px;" />
      </div>
      <div class="is-flex is-vcentered is-justify-content-center is-size-4">
        {{latestTempFahrenheit}}<!--&#176F-->
        <img class="fahrenheit" src="https://cdn.glitch.global/0fa94a6d-c73c-4106-b4c8-60a78df7dea0/thermometer-fahrenheit.svg" style="max-height: 40px;" />
      </div>
    </div>
    <div class="column is-half has-text-centered has-text-weight-bold">
      <div class="is-size-2 is-flex is-vcentered is-justify-content-center">
        {{latestPressure}}
      </div>
      <div class="is-size-4">hPa</div>
    </div>
  </div>
</div>

<!-- Weather Widget End -->