{{> membersmenu active="profile"}}

<!-- Profile Start -->
<!-- Content Start -->
<section class="section pt-5 pb-3">
  <div class="container">
    {{> hero heroName="Profile" }}
    <!-- Profile Start -->
    <div class="container mt-4" style="max-width:800px;">
      <div class="box">
        <div class="columns">
          <div class="column is-two-fifths has-background-info has-text-white has-text-centered py-6">
            <div class="title is-size-2 has-text-white mb-0"><span class="has-text-white has-text-weight-bold is-uppercase">Weather</span><span
                    class="has-text-warning is-uppercase">Top</span></div>
            <div class="title is-size-3 has-text-white has-text-weight-bold is-uppercase pt-0">
              Profile
            </div>
            <div class="my-4 has-text-weight-bold">
              <div class="container is-centered">Update your Profile!</div>
                <a data-open-modal="" class="card-footer-item js-modal-trigger-delete-account has-text-white is-size-6 p-0 mt-4"
                 data-target="modal-delete-member"
                 data-todelete="Member"
                 data-link="/profile/delete/{{user._id}}"  aria-label="more options">
                <button class="button is-danger is-medium mx-1">
                              <span class="icon is-small">
                                <i class="fas fa-trash"></i>
                              </span>
                  <span>Delete Account</span>
                </button>
              </a>
            </div>
          </div>
          <div class="column">
            <form name="frmRegister" class="p-2" action="/profile/update/{{user._id}}" method="POST" onsubmit="return validateRegisterForm()">
              <div class="field is-horizontal field-body">
                <div class="field">
                  <label class="label">First Name</label>
                  <p class="control is-expanded">
                    <input class="input" type="text" placeholder="First Name" name="firstname" value="{{user.firstname}}">
                  <div id="errFirstName" class="showError has-background-danger has-text-centered has-text-white mt-1"></div>
                  </p>
                </div>
                <div class="field">
                  <label class="label">Last Name</label>
                  <p class="control">
                    <input class="input" type="text" placeholder="Last Name" name="lastname" value="{{user.lastname}}">
                  <div id="errLastName" class="showError has-background-danger has-text-centered has-text-white mt-1"></div>
                  </p>
                </div>
              </div>
              <div class="field">
                <label class="label">Email Address</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Email" name="email" value="{{user.email}}" disabled>
                  <div id="errEmail" class="showError has-background-danger has-text-centered has-text-white mt-1"></div>
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <input class="input" type="password" placeholder="Password" id="password"  name="password" value="{{user.password}}" onkeyup="check();">
                  <div id="errPassword" class="showError has-background-danger has-text-centered has-text-white mt-1"></div>
                </div>
              </div>
              <div class="field">
                <label class="label">Confirm Password</label>
                <div class="control">
                  <input class="input" type="password" placeholder="Password" id="confirm_password" value="{{user.password}}" onkeyup="check();">
                  <div id="errConfirmPassword" class="showError has-background-danger has-text-centered has-text-white mt-1"></div>
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control is-expanded">
                  <button class="button is-info is-fullwidth">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- SignUP End -->
  </div>
</section>
{{> delete-user-modal}}
<!-- Content End -->
<!-- Profile End -->

